@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
$primary-color: #2A41E8;
$secondary-color: #FF5E14;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1280px;
	margin: auto;
}
.centered-section, .property-card-info, .card-info-row, .header-hero,
.card-owner-conatiner, .hotdeal-info, .hotdeal, .deal-icons-span-wrapper, 
.deal-icons, .agent-wrapper, .agent-card-socials,
.agents-wrapper, .agents-section-inner-wrapper, .end-black-btn,
.grey-section-inner, .img-section-message, .agencies-wrapper, .agency-card-top,
.grey-section-wrapper, .grey-section-inner, .review-line-wrapper, 
.review-author-wrapper, .review-span-wrapper, .footer-center, .footer-top, 
.footer-bottom {
	display: flex;
}
.property-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.hotdeal-info, .agent-card-socials, .agents-section-inner-wrapper, .grey-section-wrapper, 
.agencies-wrapper, .review-line-wrapper, .review-author-wrapper, .footer-top, .footer-bottom {
	align-items: center;
}
.centered-section, .property-card-info, .hotdeal-info,
.deal-icons-span-wrapper, .agent-wrapper, .agents-section-inner-wrapper,
.img-section-message, .agencies-wrapper, .grey-section-wrapper,
.review-span-wrapper {
	flex-direction: column;
}
.card-info-row, .agents-wrapper, .footer-top, .grey-section-inner, .agency-card-top, 
.review-line-wrapper, .footer-center, .footer-bottom {
	justify-content: space-between;
}
.agent-card-socials {
	justify-content: space-around;
}
.img-section-message {
	align-items: flex-start;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.header-top, .header-bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.header-top {
	padding: 0 0 0 35px;
	min-height: 54px;
	background: #2A41E8;
}
.header-bottom {
	padding: 0 0 0 35px;
	min-height: 82px;
}
.header-top a, .header-top span, .white-ico {
	color: #FFF;
}
.header-top-left, .header-top-right, .header-bottom-left, .header-bottom-right {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header-top-left div:not(:last-of-type) {
	margin-right: 28px;
}
.header-top-left div {
	padding: 17px 0;
}
.header-top-left i {
	margin-right: 14px;
	opacity: 0.5;
}
.header-top-right > a {
	display: inline-block;
	padding: 17px 24px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header-right-border-img {
	padding: 21px 35px 21px 0;
	margin-right: 35px;
	border-right: 1px solid #D8D8D8;
}
.header-left-border-img {
	border-left: 1px solid #D8D8D8;
	padding: 33px 40px;
}
.header-nav-ul li, .header-nav-style-link {
	margin-right: 28px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.header-nav-ul li a, .header-bottom-right a {
	color: #4B4D4F;
	transition: all 0.3s ease 0s;
}
.header-nav-ul li a:hover, .header-bottom-right a:hover {
	color: #2A41E8;
}
.fa-check-circle {
	margin-left: 6px;
}
.fa-chevron-down {
	margin-left: 6px;
}
.header li {
	display: inline-block;
}
.header-top-right-btn, .header-bottom-right-btn {
	padding: 0 35px;
	transition: all 0.3s ease 0s;
	width: 210px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-top-right-btn {
	background: #2A41E8;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header-top-right-btn:hover, .header-bottom-right-btn:hover {
	background: #000;
	cursor: pointer;
}
.header-bottom-right-btn a, .header-top-right-btn a {
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
}
.header-bottom-right-btn a {
	font-size: 16px;
}
.header-top-right-btn a {
	font-size: 14px;
}
.fa-sign-in-alt {
	margin-right: 8px;
}
.header-bottom-right-btn{
	background: #FF5E14;
}
.hero-form-container {
	width: 100%;
	background: #FFF;
	border-radius: 4px;
	padding: 0 28px 28px 28px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-hero h2, .hero-text {
	color: #FFF;
}
.header-hero h2 {
	font-weight: 600;
	font-size: 42px;
}
.header-hero {
	background: #000 url('../img/hero.png') no-repeat center;
	width: 100%;
	min-height: 663px;
	justify-content: center;
}
.hero-text {
	font-size: 18px;
	display: inline-block;
	margin: 23px 0 53px 0;
}
.hero-form-pseudo-select, .hero-form-container input {
	background: #ECECEC;
	border-radius: 4px;
	min-width: 274px;
	margin: 28px 28px 0 0;
}
.hero-form-pseudo-select {
	flex-grow: 1;
	padding: 9px 16px;
}
.hero-form-container input {
	border: none;
	font-size: 18px;
	color: #646464;
	font-weight: 600;
	outline: none;
	flex-grow: 2;
	padding: 20px;
}
.hero-form-title {
	color: #9B9B9B;
	font-size: 14px;
	font-weight: 600;
	display: block;
}
.hero-form-choice {
	color: #232628;
	font-weight: 600;
	font-size: 16px;
}
.hero-form-pseudo-select-flex {
	display: flex;
	justify-content: space-between;
}
.hero-form-container button {
	background: #2A41E8;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	border: none;
	outline: none;
	padding: 18px 28px;
	margin: 28px 0 0 0;
}


/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */
/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */
/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */

h2 {
	font-weight: 400;
}
.centered-section {
	align-items: center;
	h2 {
		font-size: 56px;
	}
}
.before-title-span {
		font-size: 14px;
		text-transform: uppercase;
		color: #8c8c8c;
	}
.grey-section {
	background-color: #FAFAFA;
	h2 {
		font-size: 56px;
	}
}
.grey-section-inner {
	width: 100%;
}
.black-round-btn {
	max-height: 58px;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	border-radius: 34px;
	padding: 19px 47px 19px 47px;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 2px;
	transition: all 0.3s ease 0s;
}
.black-round-btn:hover {
	cursor: pointer;
	background-color: $secondary-color;
}
.wrapper-trio {
	background-color: #fff;
	border-radius: 6px;
	flex-basis: 32%;
	transition: all 0.3s ease 0s;
}
.wrapper-trio:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

/* SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 */
/* SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 */
/* SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 */

.property-card-container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0 0 4px 4px;
	max-width: 398px;
}
.property-card {
	width: 100%;
	height: 278px;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.property-card1 {
	background: url('../img/property1.png') no-repeat center;
}
.property-card2 {
	background: url('../img/property2.png') no-repeat center;
}
.property-card3 {
	background: url('../img/property3.png') no-repeat center;
}
.property-card4 {
	background: url('../img/property4.png') no-repeat center;
}
.property-card5 {
	background: url('../img/property5.png') no-repeat center;
}
.property-card6 {
	background: url('../img/property6.png') no-repeat center;
}
.card-location, .card-avatar, .card-date {
	font-size: 14px;
}
.card-location, .card-date {
	color: #848484;
}
.card-adress {
	font-size: 20px;
}
.card-avatar {
	color: $primary-color;
}
.card-square, .card-qty {
	font-size: 16px;
	font-weight: 500;
}
.line-div {
	width: 100%;
	height: 1px;
	background-color: #d8d8d8;
}
.card-owner {
	border-radius: 50%;
	background: url('../img/avatar.png') no-repeat center;
	width: 16px;
	height: 16px;
}

/* SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 */
/* SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 */
/* SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 SECTION 2 */

.hotdeal {
	min-height: 598px;
	width: 100%;
	background-color: #292929;
}
.hotdeal-img {
	background: url('../img/deal.png') no-repeat right;
	background-size: cover;
	flex: 50%;
	position: relative;
	span {
		position: absolute;
		left: 67px;
		bottom: 67px;
	}
}
.hotdeal-info {
	padding: 32px;
	flex: 50%;
	span {
		color: #fff;
	}
	h3 {
		color: #fff;
		font-size: 36px;
		margin: 32px 0 32px 0;
		text-align: center;
	}
}
.deal-video-btn {
	background: url('../img/deal-video-btn.svg') no-repeat right;
	width: 60px;
	height: 60px;
}
.deal-icons-span-wrapper{
	span {
		color: #9B9B9B;
		font-size: 16px;
	}
}
.hotdeal-small-only {
	display: none;
}

/* SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 */
/* SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 */
/* SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 SECTION 3 */

.area-wrapper {
	max-width: 1255px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
	grid-template-areas: 
	" photo1 photo2 photo2 "
	" photo3 photo3 photo4 ";
}
.area-photo {
	position: relative;
	border-radius: 6px;
	height: 360px;
	min-width: 400px;
	transition: all 0.3s ease 0s;
}
.area-photo:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.area-photo:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 6px;
	opacity: 0.3;
}
.area-photo1 {
	background: url('../img/los-angeles.png') no-repeat center;
	grid-area: photo1
}
.area-photo2 {
	background: url('../img/san-fran.png') no-repeat center;
	grid-area: photo2
}
.area-photo3 {
	background: url('../img/seattle.png') no-repeat center;
	grid-area: photo3
}
.area-photo4 {
	background: url('../img/san-diego.png') no-repeat center;
	grid-area: photo4
}
.photo-inner {
	position: absolute;
	bottom: 20px;
	left: 30px;
	z-index: 1;
	h4, span, i {
		color: #fff;
	}
	h4{
		font-size: 32px;
		font-weight: 500;
		text-transform: uppercase;
	}
}

/* SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 */
/* SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 */
/* SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 SECTION 4 */

.agent-wrapper {
	padding: 30px;
	img {
		border-radius: 4px;
		width: 100%;
		height: auto;	
	}
	h5 {
		font-size: 36px;
		font-weight: 400;
	}
	i {
		color: #000;
	}
}
.agent-card-socials {
	border: 1px solid #ECECEC;
	border-radius: 4px;
	height: 55px;
	max-width: 210px;
}
.agents-wrapper {
	width: 100%;
}

/* SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 */
/* SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 */
/* SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 SECTION 5 */

.background-img-section {
	width: 100%;
	.container {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
.background-img-section2{
	background: url('../img/background-img.png') no-repeat center;
	height: 869px;
}
.background-img-section3 {
	background: url('../img/back3.png') no-repeat center;
	height: 844px;
}
.img-section-message {
	background-color: $primary-color;
	border-radius: 6px;
	max-width: 700px;
	padding: 5%;
	h2 {
		font-size: 60px;
		color: #fff;
	}
	p {
		color: #C6CBEA;
		font-size: 20px;
		line-height: 30px;
		max-width: 532px;
	}
}

/* SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 */
/* SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 */
/* SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 SECTION 6 */

.agencies-wrapper {
	padding: 48px 30px 48px 30px;
	h5 {
		font-size: 36px;
		font-weight: 400;
	}
}
.agency-logo {
	width: 80px;
	height: 80px;
}
.agency-info-span {
	background-color: #EAEDFD;
	font-size: 16px;
	font-weight: 400;
	color: $primary-color;
}
.grey-span {
		color: #636363;
		font-size: 18px;
		font-weight: 400;
}
.agency-card-top {
	width: 100%;
}

/* SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 */
/* SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 */
/* SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 SECTION 7 */

.tip-wrapper {
	.img {
		width: 100%;
		border-radius: 6px 6px 0 0;
	}
}
.tip-info-wrapper {
 	padding: 30px;
 	h6 {
 		font-size: 28px;
 		font-weight: 500;
 		text-transform: 500;
 	}
 	.primary-span {
		position: static;
	}
}
.darkgrey-section {
	background-color: #F3F3F3;
	h2 {
		font-size: 56px;
	}
}

/* SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 */
/* SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 */
/* SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 SECTION 8 */

.wrapper-trio-noback {
	border-radius: 6px;
	flex-basis: 32%;
	padding: 30px;
	transition: all 0.3s ease 0s;
	h5 {
		font-size: 28px;
		line-height: 36px;
		font-weight: 400;
	}
	p {
		color: #999999;
		font-size: 16px;
		line-height: 28px;
	}
}
.wrapper-trio-noback:hover {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.blue-big-icon {
	color: $primary-color;
}

/* SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 */
/* SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 */
/* SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 SECTION 9 */

.review-line-wrapper {
	width: 100%;
}
.img-section-content {
	h2 {
		font-size: 60px;
		color: #fff;
	}
	p {
		color: #C6CBEA;
		font-size: 30px;
		line-height: 48px;
		max-width: 1200px;
	}
	img {
		border-radius: 50%;
	}
}
.arrow-blue-btn {
	background-color: $primary-color;
	height: 60px;
	border-radius: 4px;
	padding: 10px 18px;
	transition: all 0.3s ease 0s;
	i {
		color: #fff;
	}
}
.arrow-blue-btn:hover {
	background-color: $secondary-color;
}
.review-caps-span {
	text-transform: uppercase;
	color: #fff;
	}
.review-grey-span {
	color: #AFAFAF;
	}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
	background-color: #151515;
	ul {
		list-style: none;
	}
	p {
		color:  rgba(255, 255, 255, 0.5);
		line-height: 28px;
	}
	a{
		transition: all 0.3s ease 0s;
	}
	a:hover {
		color:  rgba(255, 255, 255, 1);
	}
}
.footer-span{
	text-transform: uppercase;
	font-size: 16px;
	color:  rgba(255, 255, 255, 0.8);
}
.footer-menu-item {
	font-size: 16px;
	color:  rgba(255, 255, 255, 0.5);
	line-height: 32px;
}
.footer-top {
	height: 100px;
}
.footer-top-wrapper {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom {
	height: 140px;
	a {
		font-weight: 500;
	}
	span, a {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.5);
	}
}
.footer-bottom-wrapper {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-top-socials {
	font-size: 24px;
}
.footer-contacts {
	span {
		color: rgba(255, 255, 255, 0.5);
		line-height: 28px;
	}
}

/* MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS */
/* MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS */
/* MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS MARGINS PADDINGS */

.mg-l-36 {
	margin-left: 36px;
}
.mg-l-30 {
	margin-right: 30px;
}
.mg-l-24 {
	margin-left: 24px;
}
.mg-l-12 {
	margin-left: 12px;
}
.mg-l-6 {
	margin-left: 6px;
}
.mg-r-24 {
	margin-right: 24px;
}
.mg-r-36 {
	margin-right: 36px;
}
.pd-lr-24 {
	padding: 0 24px 0 24px;
}
.pd-l-24 {
	padding-left: 24px;
}
.pd-all-25 {
	padding: 25px;
}
.pd-tb-80 {
	padding: 80px 0 80px 0;
}
.pd-t-80 {
	padding-top: 80px;
}
.mg-t-16 {
	margin-top: 16px;
}
.mg-t-8 {
	margin-top: 8px;
}
.mg-t-32 {
	margin-top: 32px;
}
.mg-t-64 {
	margin-top: 64px;
}
.mg-t-120 {
	margin-top: 120px;
}
.mg-b-88 {
	margin-bottom: 88px;
}

/* ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN */
/* ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN */
/* ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN ICO SPAN */

.white-ico {
	color: #fff;
}
.semi-transparent-ico {
	opacity: 0.3;
}
.orange-ico {
	color: $secondary-color;
}
.grey-ico {
	color: #848484;
}
.yellow-ico {
	color: #FFC107;
}
.left-border-ico{
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	padding: 18px 0 18px 24px;
}
.footer-lr-border-ico {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
		padding: 38px 42px;
}
.footer-l-border-ico {
	padding: 38px 12px 38px 42px;
}
.tag-span {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	position: absolute;
}
.primary-span, .secondary-span, .black-span {
	color: #fff;
}
.primary-span, .black-span {
	text-transform: uppercase;
}
.primary-span {
	background-color: $primary-color;
}
.secondary-span {
	background-color: $secondary-color;
}
.white-span {
	background-color: #fff;
}
.black-span {
	background-color: #000;
}
.house-span {
	top: 25px;
	left: 25px;
}
.price-span {
	bottom: 25px;
	left: 25px;
}
.fast-span {
	right: 25px;
	top: 25px;
	min-width: 36px;
}
.exchange-span {
	bottom: 25px;
	right: 25px;
}
.sale-span {
	top: 25px;
	left: 113px;
	text-transform: uppercase;
}
.like-span {
	bottom: 25px;
	right: 70px;
}
.info-span {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}
.info-transparent-span {
	opacity: 0.7;
	color: #9B9B9B;
}







@media screen and (max-width: 992px) {
	.property-cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}
	.area-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 24px;
		grid-template-areas: 
		" photo1 photo2 "
		" photo3 photo4 ";
	}
	.footer-center, .footer-top, .footer-bottom {
		flex-wrap: wrap;

	}
	.footer-center > div {
		margin-right: 16px;
	}
}
@media screen and (max-width: 768px) {
	.wrapper-trio, .wrapper-trio-noback {
		flex-basis: 49%;
	}
	.wrapper-trio:last-child, .wrapper-trio-noback:last-child {
		margin-top: 16px;
	}
	.agents-wrapper, .grey-section-inner {
		flex-wrap: wrap;
	}
	.area-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 16px;
		grid-template-areas: 
		" photo1 "
		" photo2 "
		" photo3 "
		" photo4 ";
	}
	.hotdeal-img {
		display: none;
		span {
			display: none;
		}
	}
	.hotdeal-info {
		flex-basis: 100%;
	}
	// .hotdeal-small-only {
	// 	margin-top: 24px;
	// 	display: block;
	// }
}
@media screen and (max-width: 576px) {
	.property-cards {
		grid-template-columns: 1fr;
	}
	.wrapper-trio, .wrapper-trio-noback {
		flex-basis: 100%;
	}
	.container {
		padding: 0 16px;
	}
	.wrapper-trio:not(:first-child), .wrapper-trio-noback:not(:first-child) {
		margin-top: 16px;
	}
	h2 {
		text-align: center;
	}
	.deal-icons {
		flex-wrap: wrap;
	}
	.area-photo {
	min-width: 288px;
}
}












